<!DOCTYPE html>
<html style="height:100%">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VoteWebApp</title>
    <link href="~/lib/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-3.3.7-dist/css/bootstrap-theme.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <link href="~/lib/bootstrap-star-rating-master/css/star-rating.css" rel="stylesheet" />
    <script src="~/lib/bootstrap-star-rating-master/js/star-rating.js"></script>
    <link href="~/lib/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
</head>
<body style="height:100%">
    @RenderBody()
</body>
</html>
