
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script>
        function GoBack() {
            window.history.back();
        }
        function Submit() {

        }
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="row" style="background-color:#f47920;color:white">
            <div class="col-xs-1 text-justify" style="padding-top:25px">
                <i class="fa fa-arrow-left" onclick="GoBack()"></i>

            </div>
            <div class="col-xs-offset-1 col-xs-9">
                <h2>Venue Events</h2>
            </div>
        </div>
        <div class="row" style="margin-top:10px">
            <div class="col-xs-12">
                <textarea class="form-control" rows="3"></textarea>
            </div> 
        </div>
        <div class="row" style="margin-top:10px">
            <div class="col-xs-12">
                <button type="button" class="btn btn-default">Submit</button>
            </div>
        </div>
    </div>
</body>
</html>
