
@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link href="~/css/login.css" rel="stylesheet" />
</head>

<body>
    <div class="login-logo circle text-center">LN</div>
    <form name="forms" onSubmit="return checkreg()" action="homepage.html" method="post" class="login-cont">
        <ul>
            <li><input type="tel" placeholder="Please Enter Phone Number"></li>
        </ul>
        <a href="javascript:;" class="button text-center block">Login</a>
    </form>
</body>
</html>
