@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    <div class="container-fluid">
        <div class="row" style="background-color:#f47920;color:white">
            <div class="col-xs-1 text-justify" style="padding-top:25px">
                <i class="fa fa-arrow-left" onclick="GoBack()"></i>

            </div>
            <div class="col-xs-offset-1 col-xs-9">
                <h2>Cloud meeting</h2>
            </div>
        </div>
        <div class="row">
            <div class="col text-center" style="padding-top:10px">
                <p>k8s docker devops</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <input id="input-id" type="number">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <i class="fa fa-comments-o" style="margin-left:3px"></i>
                <div onclick="GoComment()">Note</div>
            </div>
        </div>
        <form action="/Detail/Content" method="post">
            <div class="row" style="margin-top:10px">
                <div class="col-xs-12">
                    <textarea class="form-control" name="Content" rows="3"></textarea>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>



    </div>
    <script>
        $(function () {
            $("#input-id").rating({
                min: 0,
                max: 5,
                step: 1,
                size: 'xs',
                showClear: false
            });
        })
        function GoBack() {
            window.history.back();
        }
        function GoComment() {
            window.location = "/Comment/Index";
        }
    </script>
</body>
</html>
