@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/lib/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/score.css" rel="stylesheet" />
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/score.js"></script>
</head>
<body>

    <section class="aui-flexView" style="background-color:white">
        <header class="aui-navBar aui-navBar-fixed b-line">
            <a href="javascript:;" class="aui-navBar-item">
                <i class="fa fa-arrow-left" onclick="GoBack()"></i>
            </a>
            <div class="aui-center">
                <span class="aui-center-title">Vote Meeting</span>
            </div>
        </header>
        <div class='score'>
            <div class='score-medal'> </div>
        </div>
        <form action="/Detail/Content" method="post">
            <div class="row" style="margin-top:10px">
                <div class="col-xs-12">
                    <textarea style="width:100%" name="Content" rows="3"></textarea>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
    </section>


    <script>
       
        function GoBack() {
            window.history.back();
        }
        function GoComment() {
            window.location = "/Comment/Index";
        }
        jQuery(document).ready(function ($) {
            $('.score').score();
            $('.result button').on('click', function () {
                var _form_ = true,
                    scoreArr = [],
                    eachEle = $('.score').children('[class^="score-"]');
                eachEle.each(function (index, el) {
                    var l = $(el).children().attr('active-level');
                    if (!l) _form_ = false;
                    scoreArr.push(l);
                });

                if (_form_) {
                    var count = scoreArr.reduce(function (p, c) { return p + parseInt(c); }, 0)
                    $('.result-score').html('综合得分：' + (count / scoreArr.length).toFixed(2));
                }
            })
        });
    </script>
</body>
</html>
